[submodule "modules/IPDL"]
	path = modules/IPDL
	url = https://github.com/SolidusAbi/IPDL.git
[submodule "modules/Sparse"]
	path = modules/Sparse
	url = https://github.com/SolidusAbi/Sparse.git
[submodule "modules/SVDD"]
	path = modules/SVDD
	url = https://github.com/SolidusAbi/SVDD-Python.git
